@import url('https://fonts.googleapis.com/css?family=Niramit:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');

.topmenu {
    padding 0;
    font-family: niramit, sans-serif;
    font-size: 18px;
}

p {
    margin:25px;
}
