@import url('https://fonts.googleapis.com/css?family=Niramit:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');

.topmenu {

}

.navbar-nav {
    padding: 5px;
    font-family: niramit, sans-serif;
    font-size: 18px;
    color:blue;
}

h2{
    margin: 25px;
    text-align: center;
}

p {
    margin:25px;
    text-align: center;
}

.text-centre{
    position: centre;
    border:#CC3333
}

.navbar-custom {
    color: blue;
    background-color: #CC3333;
}

.container  .img-locked {
    display: block;
    min-width: 200px;
    max-height: 100%;
}