@import url('https://fonts.googleapis.com/css?family=Niramit:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');

/*
Yellow #fce500
Grey #333
Blue #27509b
orange #fc9700
*/

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

.button-custom {
    color:#27509b;
    box-shadow: 3;
    font-size: 1.3rem;
    background-color: white;
    box-shadow: 11px 15px 26px -7px rgba(0,0,0,0.66);
    width: 145px;
    border: 1px solid #fc9700;
}

.button-custom:hover {
  background-color: #fc9700;
  color: white;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h2{
    margin: 25px;
    text-align: center;
    color: #27509b;
    text-shadow: 4px 7px 10px rgba(51,51,51,0.66);
}

p {
    padding: 3.5rem;
    margin:25px;
    text-align: center;
    color: #333;
}

.navbar-nav {
    padding: 5px;
    font-family: Niramit, sans-serif;
    font-size: 18px;
}

.nav-link {
    color:#020247!important;
}

.dropdown-item{
    padding: 2px;
    font-family: Niramit, sans-serif;
    font-size: 16px;
    color:#020247;
}

#active {
    font-style: 700!important;
    color:red!important;
}

.main-container  .img-locked {
    display: block;
    min-width: 175px;
    max-height: 100%;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
